:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'lexend', sans-serif;
}

body {
	background: #f5f5f5;
	min-width: 500px;
}

a {
	cursor: pointer;
}

/* CKEditor Styles */
figure[class*=easyimage-gradient]::before { 
	content: ""; 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
}

figure[class*=easyimage-gradient] figcaption { 
	position: relative; 
	z-index: 2; 
}

.easyimage-gradient-1::before { 
	background-image: linear-gradient( 135deg, rgba( 115, 110, 254, 0 ) 0%, rgba( 66, 174, 234, .72 ) 100% ); 
}

.easyimage-gradient-2::before { 
	background-image: linear-gradient( 135deg, rgba( 115, 110, 254, 0 ) 0%, rgba( 228, 66, 234, .72 ) 100% ); 
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-spin {
	animation: spin 1s linear infinite;
}
